@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .link{
        @apply hover:underline cursor-pointer
    }
}
.btn-Signup{
        background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #fc00ff  100%);
        margin: 10px;
        padding: 15px 25px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color:white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
      }

      .btn-Signup:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
.btn-Login {
   background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%);
   margin: 10px;
   padding: 15px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .btn-Login:hover {
   background-position: right center; /* change the direction of the change here */
   color: white;
   text-decoration: none;
   
 }
 .btn-Design{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right:flex;
 }
.btn-Bussiness{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.btn-Education{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn-plans{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn-Learn{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.search{
    padding: 35px 45px;
   font-size: 20px;
}
.body{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color:#fc00ff;
    padding: 25px;

}
.para{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.btn-Signupfree         
     {
    background-image: linear-gradient(to right, #EC6F66 0%, #F3A183  51%, #EC6F66  100%);
    margin: 10px;
    padding: 5px 3px;
    text-align: center;
    text-transform: lowercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    margin-left: 650px;
    margin-right: 650px;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 7;
  
  }
  
  
  .btn-Signupfree :hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    padding-top: 7;
  }
  
  @media screen and (max-width: 900px){
    .header{
      background-color: #fc00ff;
    }
  }
